
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background-color: #FEF6F3;
}

.big-contain {
    display: flex;
}

.box1 {
    margin-top: 2em;
    margin-left: 2em;
    /* width: 504; */
}

h1 {
    font-family: 'Poppins', sans-serif;
    padding-bottom: 40px;
}
.teste{
    display: flex;
}

.teste .line {
    padding-right: 1em;
}

.singup-with {
    display: flex;
    padding-bottom: 50px;
}

.singup-with h3 {
    color: #FFB7D5;
    font-family: 'Poppins', sans-serif;
}

.google-face {
    display: flex;
    /* padding-bottom: 40px; */
    justify-content: center;
}

.google-face .google {
    display: flex;
    width: 245;
    border: 1px solid #E8E8E8;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

.google p{
    font-size: 10;
    font-family: 'Poppins', sans-serif;
}

.google .logo {
    display: flex;
    width: 80%;
    justify-content: center;
    align-items: center;
}

.google-face .facebook {
    display: flex;
    width: 245;
    border: 1px solid #E8E8E8;
    justify-content: center;
    align-items: center;
    margin-left: 2em;
}

.facebook .logo {
    display: flex;
    width: 80%;
    justify-content: center;
    align-items: center;
}

.facebook p{
    font-size: 8;
    font-family: 'Poppins', sans-serif;
}

.or {
    font-family: 'Poppins';
    text-align: center;
    padding: 15px;
}

label {
    font-family: 'Poppins';
}

input {
    height: 82;
}

.form {
    display: block;
}

.form .up-form {
    display: flex;
}

.form .up-form1 {
    margin-right: 7em;
}

.form #form1 {
    margin-right: 3em;
    padding-left: 1em;
}

.form .body-form {
    display: flex;
}

.form .body-form input {
    width: 200px;
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 6px;
}

#senha {
    margin-top: 20px;
}

.form .down-form {
    display: flex;
    flex-direction: row;
    /* padding-top: 1em; */
}

.form .down-form input {
    width: 440px;
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 6px;
}

label #senha {
    padding-top: 1em;
}

.box2 {
    display: flex;
    background-color: #FEF6F3;
    height: 100vh;
    margin-left: 8em;
    justify-content: center;
    align-items: center;
}

.terms {
    margin-top: 1em;
}

.btn .button {
    margin: 1em;
}

.btn img {
    width: 80%;
}

.button {
    background-color: #FFAC44; 
    border: none;
    color: white;
    padding: 20px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 100%;
    box-shadow: 0 6px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  }

.fnl-txt p {
    font-family: 'Poppins', sans-serif;
}

.fnl-txt a {
    text-decoration: none;
    color: #FFAC44;
}




#img1 {
    width: 300px;
}